
<div class="Chead">
    <div class="hleft">
        <button class="primary-btn">save</button>
        <button class="clear-btn">cancel</button>
    </div>
    <div class="heading1">
        <h5>נהל חשבון</h5>
  
</div>
</div>

<div class="content-inner">
        <div class="tabs">
            <ul>
                   
                <a routerLink="/manage-account" routerLinkActive="active">
                    <li >חשבונות</li>
                   
    
                </a>  

                <a routerLink="/manage-account" >
                    <li>     יומן שיחו</li>
                   
    
                </a> 
              
                <li>יומן שיחו</li>
                <a routerLink="/inquiries" routerLinkActive="active">
                    <li>   פניות  </li>
                   
    
                </a> 
                <a routerLink="/payments" routerLinkActive="active">
                        <li >     תשלומים    </li>


</a> 
               
              
                <a routerLink="/account-details" routerLinkActive="active">
                                            <li >פרטי חשבון</li> 
                   
    
                </a> 
            </ul>
            </div>
      
        
        <div>
                <div class="tbl5">
                        <ul>
                            
                           
                             <li>
                                    <span class="cols col6">                                 
                                       
                                    </span>
                                    <span class="cols col5">                                 
                                        <h6>תאריך יצירה</h6> 
                                    </span>
                                    <span class="cols col4">                                 
                                            <h6>מנוי</h6>                          
                                    </span>
                                    <span class="cols col3">                                 
                                         <h6>ח.פ/ת.ז</h6> 
                                    </span>
                                    <span class="cols col2">                                 
                                        <h6>שם חברה</h6> 
                                     </span>
                                     <span class="cols col1">                                 
                                            <h6>מס חשבון</h6> 
                                            
                                    </span>                              
                             </li>
                             <li>
                                    <span class="cols col6">                                 
                                       
                                    </span>
                                    <span class="cols col5">                                 
                                        <h6>78</h6> 
                                    </span>
                                    <span class="cols col4">                                 
                                            <h6>78</h6>                          
                                    </span>
                                    <span class="cols col3">                                 
                                         <h6>zxc00012@gmail.com</h6> 
                                    </span>
                                    <span class="cols col2">                                 
                                        <h6>8532</h6> 
                                     </span>
                                     <span class="cols col1">                                 
                                            <h6>8532</h6> 
                                            
                                    </span>                              
                             </li>
                             <li>
                                    <span class="cols col6">                                 
                                       
                                    </span>
                                    <span class="cols col5">                                 
                                        <h6>78</h6> 
                                    </span>
                                    <span class="cols col4">                                 
                                            <h6>78</h6>                          
                                    </span>
                                    <span class="cols col3">                                 
                                         <h6>zxc00012@gmail.com</h6> 
                                    </span>
                                    <span class="cols col2">                                 
                                        <h6>8532</h6> 
                                     </span>
                                     <span class="cols col1">                                 
                                            <h6>8532</h6> 
                                            
                                    </span>                              
                             </li>
                                
        
                             
                            </ul>
        
                 <!--   <table class="tbl2">
                        <colgroup>
                            <col span="1" style="width: 30%;">
                            <col span="1" style="width: 25%;">
                            <col span="1" style="width: 10%;">
                            <col span="1" style="width: 10%;">
                            <col span="1" style="width: 10%;">
                            <col span="1" style="width: 15%;">
                            
                         </colgroup>
                         
                        <tr>
                          <th>edit</th>
                          <th>access </th>
                          <th>company</th>
                          <th>edit</th>
                          <th>access </th>
                          <th>company</th>
                          
        
                        </tr>
                        
                        <tr>
                            <td>
                              <span style="margin: 2px">986868</span>
                             </td>
                            <td>
                               <span style="margin: 2px">986868</span>
                            </td>
                            <td>
                                <span style="margin: 2px">
                                    <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                </span>
                            </td>
                            <td>
                                    <span style="margin: 2px">emaildjc sdsd</span>
                            </td>    
                            <td>
                                <span style="margin: 2px">986868</span>
                            </td>
                            <td>
                                <i class="material-icons">edit</i>
                                <span style="margin: 2px">
                                       
                                    <span style="margin: 2px">kj bkj</span>
                                     <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                </span>
                            </td>
                        </tr>
                       
                  </table>-->
                </div>
                
        </div>
        
</div>	

