<div class="Chead">
    <div class="hleft">
            <div class="hleft0">
                <ul class="nav navbar-nav wid90">
                    <li class="dropdown" dropdown >
                      <a dropdownToggle role="button"> <!-- {2} -->
                      <i class="material-icons">settings</i>  ניהול</a>
                      <div *dropdownMenu class="dropdown-menu wid90">
                        <a class="dropdown-item" href="/manage-clients">סוגי לקוחות</a>
                        <a class="dropdown-item" href="#">יבוא / יצוא</a>
                        
                        
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="hleft0">
                    <i class="material-icons">add</i><span>&nbsp;הוסף פניה</span> 
                </div>
                <a routerLink="/add-customers">
                <div class="hleft0">
                   
                    
                        
            
                    <i class="material-icons">add</i><span>&nbsp;הוסף לקוח</span> 
                   
                </div>
            </a>
    </div>
    
    <div class="heading1">
        <h5>לקוחות</h5>
    </div>
    
</div>
<div class="Chead3 no-border" >
        <div class="hleft">
                <div class="hleft0">
                        <i class="material-icons">delete</i>
                </div>
                 <div class="hleft0">
                        <i class="material-icons">add</i><span>&nbsp;תיווך</span> 
                </div>
              
        </div>
        <div class="hleft hright2">
                
                <div class="hleft0 wid90 space2 ns">
                        
                                <span class=" drop no-padding">
                                        <select  class="wid90">
                                                <option value="0"></option>
                                                <option value="1">סוגי חשבונות</option>
                                                <option value="2">BMW</option>
                                                <option value="3">Citroen</option>	 
                                                
                                         </select>
                                      
                                </span> 
                         
                </div>
                <div class="hleft0 padded no-border">
                    1/5
                      
                                <input class="border" type="number" min="1" max="10" value="10" />
                          
                            הצג
                </div>
                <div class="hleft0 right">
                        <input class="input-search" type="text" >
                        <input type="text" [(ngModel)]="searchText" class="form-control" id="search"  mdbInput>
                </div>


        </div>
      
    </div>
<div class="sidenav-left">
    <ul>
        <li>
            <i class="material-icons">keyboard_arrow_down</i>               
            <span>
                <i class="material-icons" style="float: right !important; padding-left: 5px">settings</i>  
                <h6>סינונים שמורים</h6> 
            </span>
        </li>
        <li class="blue-active">
            <img  style="float: left; margin-left:20px"  src="../../../assets/img/search-blue.png" />          
                <span>
                        <h6>חפש חופשי</h6> 
               </span>
             </li>
             <li class="blue-active">
                <i class="material-icons blueme">keyboard_arrow_down</i>               
                <span>
                        <h6>קטגוריה</h6> 
               </span>
             </li>
             <li class="blue-active">
                <i class="material-icons blueme">keyboard_arrow_down</i>               
                <span>
                        <h6>סטטוס</h6> 
               </span>
             </li>
             <li>
                <i class="material-icons">keyboard_arrow_down</i>               
                <span>
                        <h6> טווח תאריכים  לטיפול</h6> 
               </span>
             </li>
             <li>
                <i class="material-icons">keyboard_arrow_down</i>               
                <span>
                        <h6> טווח תאריכים  שנוצרו</h6>

               </span>
             </li>
    </ul>
   
 <div class="hleft0 bottom2" >
        <i class="material-icons">add</i><span>&nbsp;הוסף סינון</span> 
</div>
 </div>

 <div class="contentinner">
    <div class="tbl5" >
           <ul>
                <li>
                    <span class="cols col8">                                 
                        <h6>תמונה</h6> 
                    </span>
                    <span class="cols col7">                                 
                            <h6>טלפון</h6> 
                        </span>
                    <span class="cols col6">                                 
                        <h6>פניה</h6> 
                    </span>
                    <span class="cols col5">                                 
                        <h6>אימייל</h6> 
                    </span>
                    <span class="cols col4">  
                            <i class="material-icons" style="float: right !important">add</i>                                 
                        <h6>ת.ז</h6> 
                      
                    </span>
                    <span class="cols col3">
                                                       
                         <h6>משפחה</h6> 
                    </span>
                    <span class="cols col2">                                 
                        <h6>שם</h6> 
                     </span>
                     <span class="cols col1">                                 
                        <h6>client id</h6> 
                    </span>                              
                </li>
               
                 
                 <li *ngFor="let user of mf.data">  
                        <span class="cols col8">                                 
                                <h6></h6> 
                            </span>
                            <span class="cols col7">                                 
                                    <h6>{{user.name}}</h6> 
                                </span>
                        <span class="cols col6">                                 
                            <h6>ברלנד</h6> 
                        </span>
                        <span class="cols col5">                                 
                            <h6>iu999754@gmail.com</h6> 
                        </span>
                        <span class="cols col4">                                 
                            <h6>8788651</h6>                               
                        </span>
                        <span class="cols col3">                                 
                             <h6>ברלנד</h6> 
                        </span>
                        <span class="cols col2">                                 
                                <span class="m2">
                                       
                                        <span class="m2 t padded">צבי ברלנד</span>
                                         <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                    </span>
                         </span>
                         <span class="cols col1">                                 
                             <h6>5765</h6>
                        </span>                              
                 </li>
                
                 
                </ul>
    </div>


    <table class="tbl5 table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
       
        
        <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot>
      </table>
</div>	


