<div class="Chead" style="height: 65px !important;">
    <div class="hleft" style="margin-top: 10px;">
        <div class="hleft0 my-btn">
            <ul class="nav navbar-nav ">
                <li class="dropdown" dropdown>
                    <a dropdownToggle role="button" style="display: flex; position: relative;">
                        <!-- {2} -->
                        <i class="material-icons plus">+</i> <span class="btn-text"> פעולות </span></a>
                    <div *dropdownMenu class="dropdown-menu wid90">
                        <a class="dropdown-item" href="/manage-clients">
                            <span style="font-size: 13px;"> משימה </span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <span style="font-size: 13px;"> פניה </span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <span style="font-size: 13px;"> לקוח</span>
                        </a>
                        <a class="dropdown-item" style="padding: 1px 0px;
                        border-bottom: none; border-top: 9px solid #f6f6f6;">
                            <i class="material-icons" style="display: inline-flex;
                            position: absolute;
                            left: 0;
                            width: 33px;
                            height: 28px;
                            margin-left: 11px;
                            margin-top: 7px;
                            padding-top: 3px;">settings</i>
                            <span style="    display: inline-flex; position: static;
                             margin-top: 10px !important;
                              padding-right: 10px;
                              width: max-content;
                              color: #797878;
                              font-size: 13px;"> הגדרות </span>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="heading1">
        <small style="float: right;">(36)</small>
        <h5>הודעות</h5>
    </div>

</div>
<div class="Chead3 no-border">
    <div class="hleft">
        <div class="hleft0">
            <i class="material-icons">delete</i>
        </div>
        <div class="hleft0">
            <i class="material-icons">add</i><span style="margin: 2px 15px;
            font-size: 12px;">&nbsp;תיווך</span>
        </div>

    </div>
    <div class="hleft hright2">
           
        <div class="hleft0 wid90 space2 ns" style="border: none;">

            <span class=" drop no-padding">
                <select class="wid90">
                    <option value="1">סוגי חשבונות</option>
                    <option>ass</option>
                    <option>des</option>
                    
                </select>
            </span>
           

        </div>
        <div class="hleft0 padded no-border" style="display: inline-flex;">
        {{selectedPage}}

            <span class=" drop no-padding" style="display: inline-block;">
                <select class="wid90" style="    width: 50px !important;" [(ngModel)]="selectedPage">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="25">25</option>


                </select>

            </span>

            הצג
        </div>
        <div class="hleft0 right" style="height:31px">
            <input type="text" placeholder="חיפוש משימה" [(ngModel)]="searchText" class="form-control input-search"
                id="search" mdbInput>
        </div>


    </div>

</div>
<div class="sidenav-left">
    <ul>
        <li>
            <i class="material-icons">keyboard_arrow_down</i>
            <span>
                <i class="material-icons" style="float: right !important; padding-left: 5px">settings</i>
                <h6>סינונים שמורים</h6>
            </span>
        </li>
        <li class="blue-active">
            <img style="float: left; margin-left:20px" src="../../../assets/img/search-blue.png" />
            <span>
                <h6>חפש חופשי</h6>
            </span>
        </li>
        <li class="blue-active">
            <i class="material-icons blueme">keyboard_arrow_down</i>
            <span>
                <h6>קטגוריה</h6>
            </span>
        </li>
        <li class="blue-active">
            <i class="material-icons blueme">keyboard_arrow_down</i>
            <span>
                <h6>סטטוס</h6>
            </span>
        </li>
        <li>
            <i class="material-icons">keyboard_arrow_down</i>
            <span>
                <h6> טווח תאריכים לטיפול</h6>
            </span>
        </li>
        <li>
            <i class="material-icons">keyboard_arrow_down</i>
            <span>
                <h6> טווח תאריכים שנוצרו</h6>

            </span>
        </li>
    </ul>

    <div class="hleft0 bottom2">
        <i class="material-icons">add</i><span>&nbsp;הוסף סינון</span>
    </div>
</div>

<div class="contentinner">
    <div class="tbl5">
        <ul>
            <li>
                
                <span class="cols col6">
                    <h6>ID</h6>
                </span>
                <span class="cols col8">
                    <h6 style="    width: -webkit-fill-available;" >תיאור</h6>
                </span>
                <span class="cols col4">
                    <h6>נציג מטפל</h6>

                </span>
                <span class="cols col3">
                     <i class="material-icons" style="float: right !important">add</i>
                    <h6 >תאריך סיום</h6>
                </span>
                <span class="cols col2">
                    <h6>שם הודעה</h6>
                </span>
                <span class="cols col1">
                    <h6>סוג</h6>
                </span>
            </li>


            <li *ngFor="let user of mf.data">
                
                <span class="cols col6">
                        <h6>{{count}}</h6>
                </span>
                <span class="cols col8">
                    <h6 style="    width: -webkit-fill-available;">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</h6>
                </span>
                <span class="cols col4">
                    <h6>{{user.name}}</h6>
                </span>
                <span class="cols col3">
                   <h6>31/10/2019</h6>
                </span>
                <span class="cols col2">
                 <h6>שם המשימה</h6>
                </span>
                 <span class="cols col1">
                   <span class="m2">
                        <img src="./../../../assets/img/mesg.png" />                     
                    </span>
                  
                </span>
            </li>


        </ul>
    </div>


    <table class="tbl5 table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]=selectedPage>


        <tfoot>
            <tr>
                <td colspan="4">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>