        <div class="Chead0">
              <div class="hleft">
                  <button class="primary-btn">save</button>
                  <button class="clear-btn">cancel</button>
              </div>
               <div class="heading1">
                    <h5>פניה חדשה</h5>
                 </div>
         </div>
          <div class="contentinner">
                  <div class="Chead3 " style="margin-bottom: 0px;  padding-bottom: 1.5%;">
                        <div class="hright2">
                           <form style="justify-items: last baseline">
                                    <small>הוסף שדה</small>
                                <label>טלפון</label>
                                <input class="input2" type="text" placeholder="phone">
                                <label>משפחה</label>
                                <input class="input2" type="text" placeholder="Family">
                                <label>שם</label>
                                <input class="input2" type="text" placeholder="Name">
                            </form>
                            <br/>
                                   
                                           <div style="display: block;"> <h6 style="float: right; font-size: 12px ;">תיאור</h6>
                                           </div>
                                           <br/>
                                  
                    
                           
                            <textarea id="subject" name="subject" placeholder="Write something.."></textarea>
            
                            <br/>
                            <label>סוג פניה</label>
                            <input class="input2" type="text" placeholder="type of face">
                            <label>סטטוס</label>
                            <input class="input2" type="text" placeholder="status">
                            <label>תאריך סיום</label>
                            <input class="input2" type="text" placeholder="end date">
                            <br/>
                            <br/>
                      </div>
                      
            
                      
            <div class="hright2"> 	<h6 style="float: right; font-size: 12px ;">לקוחות תואמים (1)</h6></div>
                 </div>
                    
                        <div class="Chead3" style="    padding-bottom: 1.5%;">
                               <div class=" hright2 sel" style="margin-bottom : 20px; border: 2px solid #e7e8eb;">
                                     <small>3569 רשומות
                                                                    4
                                         &nbsp; סינונים
                                                                    
                                           &nbsp;	מוצרים  </small>
                              </div>   
                                  <div class="hright2">
                                         <br/>
                                            <div style="display: block;"> 
                                               <h6 style="float: right; font-size: 12px ;">סיכומי התקשות (2)</h6>
                                           </div>
                                             <br/>
                                              <div style="display: block;"> 
                                                     <h6 style="float: right; font-size: 12px ;">Add</h6>
                                                 </div>
                                                <br/>
                                                <textarea id="subject" name="subject" placeholder="Write something.."></textarea>
                                                <br/>
                                                <textarea id="subject" name="subject" placeholder="Write something.."></textarea>
                                              </div>
                                      </div>
                                    
                    
                   
         </div>	
          
            