<div class="Chead0">
	<div class="hleft">

		<button class="primary-btn">save</button>


		<button class="clear-btn">cancel</button>

	</div>

	<div class="heading1">
		<h5>סוג חשבון חדש</h5>
	</div>

</div>

<div class="content-inner">

	<div class="Chead3 " style="margin-bottom: 0px;  padding-bottom: 1.5%;">
		<div class="hright2">


			<form style="justify-items: last baseline">

				<label>שם סוג חשבון</label>
				<input class="input2" type="text" placeholder="acc type name">
			</form>

			<label>שם סוג חשבון</label>
			<textarea id="subject" name="subject" placeholder="Write something.."></textarea>

		</div>

		<div class="hright2">
			<h6 style="float: right; font-size: 12px ;">הגדרות חשבון</h6>
		</div>
	</div>
	<div class="Chead3" style="     padding-bottom: 1.5%;">

		<div class=" hright2 sel">
			<label>מודולים</label>
			<input type="text" min="1" max="5">
			<label>תמונה ראשית</label>
			<input type="text" min="1" max="5">


		</div>
		<small style="float: right">נהל מודולים ( 4 מודולים | 3 שינויי שם) </small><br />
		<div class="hright2">
			<h6 style="float: right; font-size: 12px ;">מנוי</h6>
		</div>

	</div>
	<div class="Chead3" style="    padding-bottom: 1%;">

		<div class=" hright2 sel">

			<input type="text" placeholder="iesh">
			<input type="text" placeholder="iesh">
			<input type="text" placeholder="iesh">
			<input type="text" placeholder="iesh">


		</div>

	</div>
	<div class="Chead3" style="    padding-bottom: 1.5%;">

		<div class=" hright2 sel">

			<input type="text" placeholder="קשר דאטות">



		</div>
		<div class=" hright2 sel" style="margin-bottom : 20px; border: 2px solid #e7e8eb;">

			<small>3569 רשומות
				4
				&nbsp; סינונים

				&nbsp; מוצרים </small>



		</div>
		<div class="hright2">
			<h6 style="float: right; font-size: 12px ;">דף אינטרנט ליצירת החשבון</h6>
		</div>


	</div>
	<div class="Chead3" style="    padding-bottom: 1%;">

		<div class=" hright2 sel">

			<input type="text" placeholder="iesh">
			<input type="text" placeholder="iesh">
			<input type="text" placeholder="iesh">
			<input type="text" placeholder="iesh">


		</div>

	</div>


</div>