<div class="row col-sm-10 plate">


  <div class="col-sm-12" style="text-align: center;">
    <h2 class="page-header">Login</h2>
    <form [formGroup]="Form" (ngSubmit)="onFormSubmit(Form.value)">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
          type="text" placeholder="email" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!Form.get('email').valid && Form.get('email').touched">Please enter valid email</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" placeholder="Password">
     
      </mat-form-field>
      <button type="submit" class="primary-btn" style="height: 40px; padding: 0px !important;" [disabled]="!Form.valid"
        mat-raised-button>Login</button>
      <button t class="primary-btn" style="height: 40px; padding: 0px !important;" (click)="moveToRegister()"
        mat-raised-button>Register</button>
    </form>

  </div>
</div>