



		<div class="Chead">
			<div class="hleft">
					<a routerLink="addusers" routerLinkActive="active">
						
								<i class="material-icons">add</i><span>&nbsp;add users</span> 
								
					</a>
				
				
			</div>
			<div class="heading1">
				<h5>USERS</h5>
			</div>
			
		</div>
		<div class="Chead3 right" >
            
           
                    
                   
                            
                                   
                    <div class="hleft0 right">
                            <input class="input-search" type="text" placeholder="חיפוש חשבון">
                    </div>


            
            
            
            
        </div>
		<div class="content-inner">
				<table>
						<colgroup>
							<col span="1" style="width: 70%;">
							<col span="1" style="width: 15%;">
							<col span="1" style="width: 15%;">
						</colgroup>
						
						<tr>
						<th>edit</th>
						<th>access permissions</th>
						<th>users</th>
						</tr>
						
						<tr>
								<td>
									<i class="material-icons">delete</i>
									<i class="material-icons">edit</i>
							</td>
								<td>
									
									<div class="" style="width:100%">
										<select style="width: 100%">
										<option value="0">Select permissions</option>
										<option value="1">Audi</option>
										<option value="2">BMW</option>
										<option value="3">Citroen</option>
										<option value="4">Ford</option>
										<option value="5">Honda</option>
										<option value="6">Jaguar</option>
										<option value="7">Land Rover</option>
										<option value="8">Mercedes</option>
										<option value="9">Mini</option>
										<option value="10">Nissan</option>
										<option value="11">Toyota</option>
										<option value="12">Volvo</option>
										</select>
									</div>
							</td>
								<td>
								
								<button clear class="clear_button left">
									<i class="material-icons">edit</i>
								</button>

								 <span class="m2">
                                           
                                        <span class="m2 t padded">צבי ברלנד</span>
                                         <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                    </span>
								
								</td>
						</tr>
						<tr>
							<td>
								<i class="material-icons">delete</i>
								<i class="material-icons">edit</i>
						</td>
							<td>
								
								<div class="" style="width:100%">
									<select style="width: 100%">
									<option value="0">Select permissions</option>
									<option value="1">Audi</option>
									<option value="2">BMW</option>
									<option value="3">Citroen</option>
									<option value="4">Ford</option>
									<option value="5">Honda</option>
									<option value="6">Jaguar</option>
									<option value="7">Land Rover</option>
									<option value="8">Mercedes</option>
									<option value="9">Mini</option>
									<option value="10">Nissan</option>
									<option value="11">Toyota</option>
									<option value="12">Volvo</option>
									</select>
								</div>
						</td>
							<td>
							
							<button clear class="clear_button left">
								<i class="material-icons">edit</i>
							</button>
							<span class="m2">
                                           
								<span class="m2 t padded">צבי ברלנד</span>
								 <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
							</span>
							
							</td>
						</tr>  
						<tr>
							<td>
								<i class="material-icons">delete</i>
								<i class="material-icons">edit</i>
						</td>
							<td>
								
								<div class="" style="width:100%">
									<select style="width: 100%">
									<option value="0">Select permissions</option>
									<option value="1">Audi</option>
									<option value="2">BMW</option>
									<option value="3">Citroen</option>
									<option value="4">Ford</option>
									<option value="5">Honda</option>
									<option value="6">Jaguar</option>
									<option value="7">Land Rover</option>
									<option value="8">Mercedes</option>
									<option value="9">Mini</option>
									<option value="10">Nissan</option>
									<option value="11">Toyota</option>
									<option value="12">Volvo</option>
									</select>
								</div>
						</td>
							<td>
							
							<button clear class="clear_button left">
								<i class="material-icons">edit</i>
							</button>
							<span class="m2">
                                           
								<span class="m2 t padded">צבי ברלנד</span>
								 <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
							</span>
							
							</td>
					</tr>
				</table>
		</div>	
	