<div class="Chead">
    <div class="hleft">

        <button class="primary-btn">save</button>


        <button class="clear-btn">cancel</button>

    </div>

    <div class="heading1">
        <h5>Zwi Berland</h5>
        <img src="../../../assets/img/z.png" />

    </div>

</div>

<div class="contentinner">
    <div class="tabs">
        <ul>

            <a routerLink="/manage-account" routerLinkActive="active">
                <li> מוצרים</li>


            </a>
            <a routerLink="/manage-account" routerLinkActive="active">
                <li>אימייל </li>


            </a>


            <a routerLink="/inquiries" routerLinkActive="active">
                <li>סמס </li>


            </a>
            <a routerLink="/payments" routerLinkActive="active">
                <li> יומן שיחות </li>


            </a>


            <a routerLink="/account-details" routerLinkActive="active">
                <li> פניות</li>


            </a>
            <a routerLink="/account-details" routerLinkActive="active">
                <li> הזמנות </li>


            </a>
            <a class="">
                <li>Client ID</li>


            </a>
        </ul>
    </div>

    <div class="Chead3 " style="margin-bottom: 0px;  padding-bottom: 1.5%;">
        <div class="hright2">


            <form style="justify-items: last baseline">

                <span>Add Field</span>
                <label></label>
                <input class="input2" type="text" placeholder="Phone">
                <label></label>
                <input class="input2" type="email" placeholder="Email">
                <label></label>
                <input class="input2" type="text" placeholder="Family">
                <label>שם</label>
                <input class="input2" type="text" placeholder="Name">
            </form>
            <br />
            <br />
            <label>Clients type</label>
            <select width="30%">
                <option>client type</option>
            </select>

        </div>

        <div class="hright2">
            <br />
        </div>
    </div>
    <div class="Chead3" style="     padding-bottom: 1.5%;">

        <div class=" hright2 sel">



        </div>

        <div class="hright2">
            <h6 style="float: right; font-size: 12px ;">Type 1</h6>
        </div>

    </div>
    <div class="Chead3" style="    padding-bottom: 1%;">

        <div class=" hright2 sel">
            <span>add field</span>
            <label>select</label>
            <select width="30%">
                <option>client type</option>
            </select>

            <label>1</label>
            <input type="text" placeholder="iesh">
            <label>2</label>
            <input type="text" placeholder="iesh">
            <label>3</label>
            <input type="text" placeholder="iesh">
            <label>4</label>
            <input type="text" placeholder="iesh">




        </div>

    </div>
    <div class="Chead3" style="    padding-bottom: 1.5%;">
        <div class="hright2">
            <h6 style="float: right; font-size: 12px ;">Type 1</h6>
        </div>
        <br />
        <div class="hright2">
            <h6 style="float: right; font-size: 16px ;">Inquiries</h6>
        </div>
        <br />

        <br />

        <div class=" hright2 sel">
            <div class="hright2">
                <h6 style="float: right; font-size: 12px ;">Add</h6>
            </div>





        </div>
        <div class=" hright2 sel" style="margin-bottom : 20px; border: 2px solid #e7e8eb;">


            <div class="tbl5">
                <ul>
                    <li>
                        <span class="cols col8">
                            <h6>תמונה</h6>
                        </span>
                        <span class="cols col7">
                            <h6>טלפון</h6>
                        </span>
                        <span class="cols col6">
                            <h6>פניה</h6>
                        </span>
                        <span class="cols col5">
                            <h6>אימייל</h6>
                        </span>
                        <span class="cols col4">
                            <i class="material-icons" style="float: right !important">add</i>
                            <h6>ת.ז</h6>

                        </span>
                        <span class="cols col3">

                            <h6>משפחה</h6>
                        </span>
                        <span class="cols col2">
                            <h6>שם</h6>
                        </span>
                        <span class="cols col1">
                            <h6>client id</h6>
                        </span>
                    </li>
                    <li>
                        <span class="cols col8">
                            <h6></h6>
                        </span>
                        <span class="cols col7">
                            <h6>025-5698-99</h6>
                        </span>
                        <span class="cols col6">
                            <h6>ברלנד</h6>
                        </span>
                        <span class="cols col5">
                            <h6>iu999754@gmail.com</h6>
                        </span>
                        <span class="cols col4">
                            <h6>8788651</h6>
                        </span>
                        <span class="cols col3">
                            <h6>ברלנד</h6>
                        </span>
                        <span class="cols col2">
                            <span class="m2">

                                <span class="m2 t padded">צבי ברלנד</span>
                                <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px"
                                    height="30px">
                            </span>
                        </span>
                        <span class="cols col1">
                            <h6>5765</h6>
                        </span>
                    </li>
                    <li>
                        <span class="cols col8">
                            <h6></h6>
                        </span>
                        <span class="cols col7">
                            <h6>025-5698-99</h6>
                        </span>
                        <span class="cols col6">
                            <h6>ברלנד</h6>
                        </span>
                        <span class="cols col5">
                            <h6>iu999754@gmail.com</h6>
                        </span>
                        <span class="cols col4">
                            <h6>8788651</h6>
                        </span>
                        <span class="cols col3">
                            <h6>ברלנד</h6>
                        </span>
                        <span class="cols col2">
                            <span class="m2">

                                <span class="m2 t padded">צבי ברלנד</span>
                                <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px"
                                    height="30px">
                            </span>
                        </span>
                        <span class="cols col1">
                            <h6>5765</h6>
                        </span>
                    </li>
                    <li>
                        <span class="cols col8">
                            <h6></h6>
                        </span>
                        <span class="cols col7">
                            <h6>025-5698-99</h6>
                        </span>
                        <span class="cols col6">
                            <h6>ברלנד</h6>
                        </span>
                        <span class="cols col5">
                            <h6>iu999754@gmail.com</h6>
                        </span>
                        <span class="cols col4">
                            <h6>8788651</h6>
                        </span>
                        <span class="cols col3">
                            <h6>ברלנד</h6>
                        </span>
                        <span class="cols col2">
                            <span class="m2">

                                <span class="m2 t padded">צבי ברלנד</span>
                                <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px"
                                    height="30px">
                            </span>
                        </span>
                        <span class="cols col1">
                            <h6>5765</h6>
                        </span>
                    </li>
                    <li>
                        <span class="cols col8">
                            <h6></h6>
                        </span>
                        <span class="cols col7">
                            <h6>025-5698-99</h6>
                        </span>
                        <span class="cols col6">
                            <h6>ברלנד</h6>
                        </span>
                        <span class="cols col5">
                            <h6>iu999754@gmail.com</h6>
                        </span>
                        <span class="cols col4">
                            <h6>8788651</h6>
                        </span>
                        <span class="cols col3">
                            <h6>ברלנד</h6>
                        </span>
                        <span class="cols col2">
                            <span class="m2">

                                <span class="m2 t padded">צבי ברלנד</span>
                                <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px"
                                    height="30px">
                            </span>
                        </span>
                        <span class="cols col1">
                            <h6>5765</h6>
                        </span>
                    </li>
                    <li>
                        <span class="cols col8">
                            <h6></h6>
                        </span>
                        <span class="cols col7">
                            <h6>025-5698-99</h6>
                        </span>
                        <span class="cols col6">
                            <h6>ברלנד</h6>
                        </span>
                        <span class="cols col5">
                            <h6>iu999754@gmail.com</h6>
                        </span>
                        <span class="cols col4">
                            <h6>8788651</h6>
                        </span>
                        <span class="cols col3">
                            <h6>ברלנד</h6>
                        </span>
                        <span class="cols col2">
                            <span class="m2">

                                <span class="m2 t padded">צבי ברלנד</span>
                                <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px"
                                    height="30px">
                            </span>
                        </span>
                        <span class="cols col1">
                            <h6>5765</h6>
                        </span>
                    </li>
                    <li>
                        <span class="cols col8">
                            <h6></h6>
                        </span>
                        <span class="cols col7">
                            <h6>025-5698-99</h6>
                        </span>
                        <span class="cols col6">
                            <h6>ברלנד</h6>
                        </span>
                        <span class="cols col5">
                            <h6>iu999754@gmail.com</h6>
                        </span>
                        <span class="cols col4">
                            <h6>8788651</h6>
                        </span>
                        <span class="cols col3">
                            <h6>ברלנד</h6>
                        </span>
                        <span class="cols col2">
                            <span class="m2">

                                <span class="m2 t padded">צבי ברלנד</span>
                                <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px"
                                    height="30px">
                            </span>
                        </span>
                        <span class="cols col1">
                            <h6>5765</h6>
                        </span>
                    </li>
                    <li>
                        <span class="cols col8">
                            <h6></h6>
                        </span>
                        <span class="cols col7">
                            <h6>025-5698-99</h6>
                        </span>
                        <span class="cols col6">
                            <h6>ברלנד</h6>
                        </span>
                        <span class="cols col5">
                            <h6>iu999754@gmail.com</h6>
                        </span>
                        <span class="cols col4">
                            <h6>8788651</h6>
                        </span>
                        <span class="cols col3">
                            <h6>ברלנד</h6>
                        </span>
                        <span class="cols col2">
                            <span class="m2">

                                <span class="m2 t padded">צבי ברלנד</span>
                                <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px"
                                    height="30px">
                            </span>
                        </span>
                        <span class="cols col1">
                            <h6>5765</h6>
                        </span>
                    </li>
                    <li>
                        <span class="cols col8">
                            <h6></h6>
                        </span>
                        <span class="cols col7">
                            <h6>025-5698-99</h6>
                        </span>
                        <span class="cols col6">
                            <h6>ברלנד</h6>
                        </span>
                        <span class="cols col5">
                            <h6>iu999754@gmail.com</h6>
                        </span>
                        <span class="cols col4">
                            <h6>8788651</h6>
                        </span>
                        <span class="cols col3">
                            <h6>ברלנד</h6>
                        </span>
                        <span class="cols col2">
                            <span class="m2">

                                <span class="m2 t padded">צבי ברלנד</span>
                                <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px"
                                    height="30px">
                            </span>
                        </span>
                        <span class="cols col1">
                            <h6>5765</h6>
                        </span>
                    </li>


                </ul>

                <!--   <table class="tbl2">
                                                        <colgroup>
                                                            <col span="1" style="width: 30%;">
                                                            <col span="1" style="width: 25%;">
                                                            <col span="1" style="width: 10%;">
                                                            <col span="1" style="width: 10%;">
                                                            <col span="1" style="width: 10%;">
                                                            <col span="1" style="width: 15%;">
                                                            
                                                         </colgroup>
                                                         
                                                        <tr>
                                                          <th>edit</th>
                                                          <th>access </th>
                                                          <th>company</th>
                                                          <th>edit</th>
                                                          <th>access </th>
                                                          <th>company</th>
                                                          
                                        
                                                        </tr>
                                                        
                                                        <tr>
                                                            <td>
                                                              <span style="margin: 2px">986868</span>
                                                             </td>
                                                            <td>
                                                               <span style="margin: 2px">986868</span>
                                                            </td>
                                                            <td>
                                                                <span style="margin: 2px">
                                                                    <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                                                </span>
                                                            </td>
                                                            <td>
                                                                    <span style="margin: 2px">emaildjc sdsd</span>
                                                            </td>    
                                                            <td>
                                                                <span style="margin: 2px">986868</span>
                                                            </td>
                                                            <td>
                                                                <i class="material-icons">edit</i>
                                                                <span style="margin: 2px">
                                                                       
                                                                    <span style="margin: 2px">kj bkj</span>
                                                                     <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                                                </span>
                                                            </td>
                                                        </tr>
                                                       
                                                  </table>-->

            </div>



        </div>


    </div>
    <div class="Chead3" style="    padding-bottom: 1.5%;">

        <div class=" hright2 sel">


            <small>דוח מוצרים ללקוח &nbsp; (יפוג בתאריך&nbsp; 08.10.2019)&nbsp; </small>

        </div>

    </div>

    <div class="Chead3" style="    padding-bottom: 3.5%;">

        <div class=" hright2 sel">

            <button class="clearbtn" Name=" ">Add service</button>

        </div>
        <br />

        <div class=" hright2 sel">


            <small> clients compatible (1)</small>

        </div>

        <div class=" hright2 sel">


            <small> Inquiries compatible (1)</small>
        </div>

    </div>


</div>