<div class="Chead">
    <div class="hleft">
        
                    <button class="primary-btn">save</button>
                    <button class="clear-btn">cancel</button>
     </div>
    
    <div class="heading1">
            <h5>נהל פניה </h5>
    </div>
    
</div>

<div class="content-inner">

<div class="Chead4 ">
    <div class="hright" style=" border-bottom: 1px solid #eeeeee;" > 	<h6>צור סוג חדש</h6></div>
    <br/>
    <div class="hright2">
        

        <form style="justify-items: last baseline">
            
            <label>אימייל מקושר</label>
            <input class="input2" type="text" placeholder="linked email">
            <label>שם פניה</label>
            <input class="input2" type="text" placeholder="name of face">
        </form>
        <div class="hright"  ><small>הוסף שדה</small></div>
        <div class="hright"  ><small> הוסף תיאור</small></div>
        <div class="Chead3">
                <div class="hright" style=" border-bottom: 1px solid #eeeeee;" > 	
                    <h6>פניה אוטומטית</h6>
                  <span>
                    <input type="checkbox" class="input1"/>
                    <h6>קשר את כל הלקוחות</h6>
                </span>
                </div>
                <br/>
                <select>
                    <option>בחר נתונים לסינון</option>
                    <option> <input type="checkbox" class="input1"/>1</option>
                    <option> <input type="checkbox" class="input1"/>2</option>
                    <option> <input type="checkbox" class="input1"/>3</option>
                    <option> <input type="checkbox" class="input1"/>4</option>
                </select>
                
                <select>
                    <option>בחר עמודה </option>
                    <option>ללא נתון</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <select>
                    <option>סוג פניה אוטומטית</option>
                    <option value="once">פעם אחת</option>
                    <option value="fixed">קבוע</option>
                </select>
                
        </div>
        <div class="hright" style="border-bottom: 1px solid #d9d9d9;" >
            <small>צור פניה אוטומטית לסוגי לקוחות</small></div>
      
        <button class="cbtn">צור</button>
    </div>


</div>
<div class="hright" > 	<h6>סוגי פניות שנוצרו</h6></div>

<div class="" style="     padding-bottom: 1.5%;">

    <div class=" hright2 sel">
         <div class="tbl5">
             <ul>
                 <li>
                        <span class="cols col3">                                 
                             <i class="material-icons">delete_outline</i> 
                        </span>
                        <span class="cols col2">                                 
                            <i class="material-icons">edit</i> 
                         </span>
                         <span class="cols col1">                                 
                                <h6>מס חשבון</h6> 
                                
                        </span>                              
                 </li>
                 <li>
                        <span class="cols col3">                                 
                             <i class="material-icons">delete_outline</i> 
                        </span>
                        <span class="cols col2">                                 
                            <i class="material-icons">edit</i> 
                         </span>
                         <span class="cols col1">                                 
                                <h6>מס חשבון</h6> 
                                
                        </span>                              
                 </li>
             </ul>

         </div>   

            
    </div>    
   
          
</div>
</div>	

