    <div class="Chead3">
        <div class="hleft">
                <div class="hleft0">
                        <ul class="nav navbar-nav">
                                <li class="dropdown" dropdown >
                                  <a dropdownToggle role="button"> <!-- {2} -->
                                    ניהול<span class="caret"></span></a>
                                  <div *dropdownMenu class="dropdown-menu">
                                    <a class="dropdown-item" href="/manage-clients">סוגי חשבונות</a>
                                    <a class="dropdown-item" href="#">Page1.1</a>
                                    
                                    
                                  </div>
                                </li>
                              </ul>
                    </div>
                    <div class="hleft0">
                        <i class="material-icons">add</i><span>&nbsp;הוסף חשבון</span> 
                    </div>
        </div>
		
		<div class="heading1">
			<h5>נהל סוגי חשבונות</h5>
		</div>
		
    </div>
    <div class="Chead3 no-border" >
            <div class="hleft">
                    <div class="hleft0">
                            <i class="material-icons">delete</i>
                    </div>
                     <div class="hleft0">
                            <i class="material-icons">add</i><span>&nbsp;תיווך</span> 
                    </div>
                  
            </div>
            <div class="hleft hright2">
                    
                    <div class="hleft0 wid90 space2 ns">
                            
                                    <span class=" no-padding">
                                            <select  class="wid90">
                                                    <option value="0">מיין</option>
                                                    <option value="1">סוגי חשבונות</option>
                                                    <option value="2">BMW</option>
                                                    <option value="3">Citroen</option>									  
                                             </select>
                                        
                                    
                                     </span> 
                             
                    </div>
                    <div class="hleft0 padded no-border">
                        1/5
                          
                                    <input class="border" type="number" min="1" max="10" value="10" />
                              
                                הצג
                    </div>
                    <div class="hleft0 right">
                            <input class="input-search" type="text" placeholder="חיפוש חשבון">
                    </div>


            </div>
            
            
            
            
        </div>
    <div class="sidenav-left">
        <ul>
            <li>
                <i class="material-icons">keyboard_arrow_down</i>               
                <span>
                    <i class="material-icons" style="float: right !important; padding-left: 5px">settings</i>  
                    <h6>סינונים שמורים</h6> 
                </span>
            </li>
            <li class="blue-active">
                    <i class="material-icons ">keyboard_arrow_down</i>              
                    <span>
                            <h6>חפש חופשי</h6> 
                   </span>
                 </li>
            <li>
                    <i class="material-icons">keyboard_arrow_down</i>               
                    <span>
                            <h6>קטגוריה</h6> 
                   </span>
                 </li>
                <li>
                    <i class="material-icons">keyboard_arrow_down</i>               
                    <span>
                            <h6>סטטוס</h6> 
                   </span>
                 </li>
                 <li>
                    <i class="material-icons">keyboard_arrow_down</i>               
                    <span>
                            <h6> טווח תאריכים  לטיפול</h6> 
                   </span>
                 </li>
                 <li>
                    <i class="material-icons">keyboard_arrow_down</i>               
                    <span>
                            <h6> טווח תאריכים  שנוצרו</h6>

                   </span>
                 </li>
        </ul>
       
     <div class="hleft0 bottom2" >
            <i class="material-icons">add</i><span>&nbsp;הוסף סינון</span> 
    </div>
     </div>
<div class="content-inner">
        

       
        <div class="tbl5">
                <ul>
                    <li>
                        <span class="cols col6">                                 
                            <h6></h6> 
                        </span>
                        <span class="cols col5">                                 
                            <h6> </h6> 
                        </span>
                        <span class="cols col4">                                 
                            <h6> תמונת חשבון</h6> 
                        </span>
                        <span class="cols col3">                                 
                             <h6> אמייל</h6> 
                        </span>
                        <span class="cols col2">                                 
                            <h6>מס' חשבון</h6> 
                         </span>
                         <span class="cols col1">                                 
                            <h6>שם חברה</h6> 
                        </span>                              
                    </li>
                    <li>
                            <span class="cols col6">                                 
                                <h6>025-5698-99</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>78</h6> 
                            </span>
                            <span class="cols col4">                                 
                                   
                                    <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                           
                            </span>
                            <span class="cols col3">                                 
                                 <h6>zxc00012@gmail.com</h6> 
                            </span>
                            <span class="cols col2">                                 
                                <h6>8532</h6> 
                             </span>
                             <span class="cols col1">                                 
                                    <i class="material-icons m2">edit</i>
                                    <span class="m2">
                                           
                                        <span class="m2 t padded">צבי ברלנד</span>
                                         <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                    </span>
                            </span>                              
                     </li>
                     <li>
                            <span class="cols col6">                                 
                                <h6>025-5698-99</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>78</h6> 
                            </span>
                            <span class="cols col4">                                 
                                   
                                    <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                           
                            </span>
                            <span class="cols col3">                                 
                                 <h6>zxc00012@gmail.com</h6> 
                            </span>
                            <span class="cols col2">                                 
                                <h6>8532</h6> 
                             </span>
                             <span class="cols col1">                                 
                                    <i class="material-icons m2">edit</i>
                                    <span class="m2">
                                           
                                        <span class="m2 t padded">צבי ברלנד</span>
                                         <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                    </span>
                            </span>                              
                     </li>
                     <li>
                            <span class="cols col6">                                 
                                <h6>025-5698-99</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>78</h6> 
                            </span>
                            <span class="cols col4">                                 
                                   
                                    <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                           
                            </span>
                            <span class="cols col3">                                 
                                 <h6>zxc00012@gmail.com</h6> 
                            </span>
                            <span class="cols col2">                                 
                                <h6>8532</h6> 
                             </span>
                             <span class="cols col1">                                 
                                    <i class="material-icons m2">edit</i>
                                    <span class="m2">
                                           
                                        <span class="m2 t padded">צבי ברלנד</span>
                                         <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                    </span>
                            </span>                              
                     </li> 
                    <li>
                            <span class="cols col6">                                 
                                <h6>025-5698-99</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>78</h6> 
                            </span>
                            <span class="cols col4">                                 
                                   
                                    <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                           
                            </span>
                            <span class="cols col3">                                 
                                 <h6>zxc00012@gmail.com</h6> 
                            </span>
                            <span class="cols col2">                                 
                                <h6>8532</h6> 
                             </span>
                             <span class="cols col1">                                 
                                    <i class="material-icons m2">edit</i>
                                    <span class="m2">
                                           
                                        <span class="m2 t padded">צבי ברלנד</span>
                                         <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                    </span>
                            </span>                              
                     </li>
                     

                   
                     <li>
                            <span class="cols col6">                                 
                                <h6>025-5698-99</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>78</h6> 
                            </span>
                            <span class="cols col4">                                 
                                   
                                    <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                           
                            </span>
                            <span class="cols col3">                                 
                                 <h6>zxc00012@gmail.com</h6> 
                            </span>
                            <span class="cols col2">                                 
                                <h6>8532</h6> 
                             </span>
                             <span class="cols col1">                                 
                                    <i class="material-icons m2">edit</i>
                                    <span class="m2">
                                           
                                        <span class="m2 t padded">צבי ברלנד</span>
                                         <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                    </span>
                            </span>                              
                     </li>
                        

                     
                    </ul>

         <!--   <table class="tbl2">
                <colgroup>
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 15%;">
                    
                 </colgroup>
                 
                <tr>
                  <th>edit</th>
                  <th>access </th>
                  <th>company</th>
                  <th>edit</th>
                  <th>access </th>
                  <th>company</th>
                  

                </tr>
                
                <tr>
                    <td>
                      <span style="margin: 2px">986868</span>
                     </td>
                    <td>
                       <span style="margin: 2px">986868</span>
                    </td>
                    <td>
                        <span style="margin: 2px">
                            <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                        </span>
                    </td>
                    <td>
                            <span style="margin: 2px">emaildjc sdsd</span>
                    </td>    
                    <td>
                        <span style="margin: 2px">986868</span>
                    </td>
                    <td>
                        <i class="material-icons">edit</i>
                        <span style="margin: 2px">
                               
                            <span style="margin: 2px">kj bkj</span>
                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                        </span>
                    </td>
                </tr>
               
          </table>-->
        </div>
        
</div>	

