<div class="Chead">
	<div class="hleft">
		<button class="primary-btn">save</button>
		<button class="clear-btn">cancel</button>
	</div>
	<div class="heading1">
		<h5>נהל חשבון</h5>

	</div>
</div>

<div class="content-inner">



	<div>
		<div class="tbl5">
			<ul>



				<li>
					<span class="cols col4">

						<h6>גישה</h6>
					</span>
					<span class="cols col4">

						<h6>תמונה</h6>
					</span>

					<span class="cols col4">
						<h6>שמירת פעילות</h6>

					</span>
					<span class="cols col3">
						<h6>סיסמה</h6>
					</span>
					<span class="cols col2">
						<h6>אימייל</h6>
					</span>
					<span class="cols col1">

						<h6>שם משתמש</h6>

					</span>
				</li>
				<li>
					<span class="cols col4">

						<h6>גישה</h6>
					</span>
					<span class="cols col4">

						<h6>תמונה</h6>
					</span>

					<span class="cols col4">
						<h6>שמירת פעילות</h6>

					</span>
					<span class="cols col3">
						<h6>סיסמה</h6>
					</span>
					<span class="cols col2">
						<h6>אימייל</h6>
					</span>
					<span class="cols col1">

						<h6>שם משתמש</h6>

					</span>
				</li>



			</ul>

			<!--   <table class="tbl2">
							<colgroup>
								<col span="1" style="width: 30%;">
								<col span="1" style="width: 25%;">
								<col span="1" style="width: 10%;">
								<col span="1" style="width: 10%;">
								<col span="1" style="width: 10%;">
								<col span="1" style="width: 15%;">
								
							 </colgroup>
							 
							<tr>
							  <th>edit</th>
							  <th>access </th>
							  <th>company</th>
							  <th>edit</th>
							  <th>access </th>
							  <th>company</th>
							  
			
							</tr>
							
							<tr>
								<td>
								  <span style="margin: 2px">986868</span>
								 </td>
								<td>
								   <span style="margin: 2px">986868</span>
								</td>
								<td>
									<span style="margin: 2px">
										<img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
									</span>
								</td>
								<td>
										<span style="margin: 2px">emaildjc sdsd</span>
								</td>    
								<td>
									<span style="margin: 2px">986868</span>
								</td>
								<td>
									<i class="material-icons">edit</i>
									<span style="margin: 2px">
										   
										<span style="margin: 2px">kj bkj</span>
										 <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
									</span>
								</td>
							</tr>
						   
					  </table>-->
		</div>

	</div>

</div>