<div class="row col-sm-10" style="margin-top:40px; padding:20px; background-color:#eff0f2;border-radius:15px;
-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);">
 

  <div class="col-sm-10">
    <h2 class="page-header">Register</h2>
    <form [formGroup]="Form" (ngSubmit)="onFormSubmit(Form.value)">
      <mat-form-field class="wid">
        <input matInput placeholder="name" formControlName="name" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!Form.get('name').valid && Form.get('name').touched">Please enter name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="wid">
        <input matInput placeholder="Email" formControlName="email" (input)="onTextChange($event.target.value)"
          [errorStateMatcher]="matcher">
          <span>{{emailError}}</span>
        
      </mat-form-field>
      <mat-form-field class="wid">
        <input matInput placeholder="password" formControlName="password" [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!Form.get('password').valid && Form.get('password').touched">Please enter password</span>
        </mat-error>
      </mat-form-field>
      <button type="submit" class="primary-btn" [disabled]="!Form.valid" mat-raised-button>save</button>

    </form>

  </div>
</div>