  <div class="Chead3">
            <div class="hleft">
                    <div class="hleft0">
                            
                             <ul class="nav navbar-nav wid150">
                                    <li class="dropdown" dropdown >
                                      <a dropdownToggle role="button"> <!-- {2} -->
                                        <i class="material-icons">settings</i> &nbsp;  ניהול<span class="caret"></span></a>
                                      <div *dropdownMenu class="dropdown-menu">
                                        <a class="dropdown-item" href="/type-of-inquiry">סוגי פניות</a>
                                        <a class="dropdown-item" href="/new-modules">ברירות מחדל</a>
                                        
                                        
                                      </div>
                                    </li>
                                  </ul>
                        </div>
                       <a routerLink="/add-clients" routerLinkActive="active"><div class="hleft0">
                            <i class="material-icons">add</i><span>&nbsp;Add Client</span> 
                        </div>
                    </a> 
                    <a routerLink="/add-new-face" routerLinkActive="active">
                        <div class="hleft0">
                                <i class="material-icons">add</i><span>&nbsp;Add Face</span> 
                       </div>
                    </a>   
            </div>
        <div class="heading1">
            <h5>פניות</h5>
        </div>
        
    </div>
    <div class="Chead3 no-border" >
            <div class="hleft">
                    <div class="hleft0">
                            <i class="material-icons">delete</i>
                    </div>
                     <div class="hleft0">
                            <i class="material-icons">add</i><span>&nbsp;תיווך</span> 
                    </div>
                  
            </div>
            <div class="hleft hright2">
                    
                    <div class="hleft0 wid90 space2 ns">
                            
                                    <span class=" no-padding">
                                            <select  class="wid90">
                                                    <option value="0">מיין</option>
                                                    <option value="1">סוגי חשבונות</option>
                                                    <option value="2">BMW</option>
                                                    <option value="3">Citroen</option>									  
                                             </select>
                                        
                                    
                                     </span> 
                             
                    </div>
                    <div class="hleft0 padded no-border">
                        1/5
                          
                                    <input class="border" type="number" min="1" max="10" value="10" />
                              
                                הצג
                    </div>
                    <div class="hleft0 right">
                            <input class="input-search" type="text" placeholder="חיפוש חשבון">
                    </div>


            </div>
            
            
            
            
        </div>
    <div class="sidenav-left">
        <ul>
            <li>
                <i class="material-icons">keyboard_arrow_down</i>               
                <span>
                    <i class="material-icons" style="float: right !important; padding-left: 5px">settings</i>  
                    <h6>סינונים שמורים</h6> 
                </span>
            </li>
            <li>
                    <i class="material-icons">keyboard_arrow_down</i>              
                    <span>
                            <h6>חפש חופשי</h6> 
                   </span>
                 </li>
            <li>
                    <i class="material-icons">keyboard_arrow_down</i>               
                    <span>
                            <h6>קטגוריה</h6> 
                   </span>
                 </li>
                <li>
                    <i class="material-icons">keyboard_arrow_down</i>               
                    <span>
                            <h6>סטטוס</h6> 
                   </span>
                 </li>
                 <li>
                    <i class="material-icons">keyboard_arrow_down</i>               
                    <span>
                            <h6> טווח תאריכים  לטיפול</h6> 
                   </span>
                 </li>
                 <li>
                    <i class="material-icons">keyboard_arrow_down</i>               
                    <span>
                            <h6> טווח תאריכים  שנוצרו</h6>

                   </span>
                 </li>
        </ul>
       
     <div class="hleft0 bottom2" >
            <i class="material-icons">add</i><span>&nbsp;הוסף סינון</span> 
    </div>
     </div>
<div class="contentinner">
        <div class="tbl5">
                <ul>
                    <li>
                        <span class="cols col8">                                 
                            <h6>תמונה</h6> 
                        </span>
                        <span class="cols col7">                                 
                                <h6>טלפון</h6> 
                            </span>
                        <span class="cols col6">                                 
                            <h6>פניה</h6> 
                        </span>
                        <span class="cols col5">                                 
                            <h6>אימייל</h6> 
                        </span>
                        <span class="cols col4">  
                                <i class="material-icons" style="float: right !important">add</i>                                 
                            <h6>ת.ז</h6> 
                          
                        </span>
                        <span class="cols col3">
                                                           
                             <h6>משפחה</h6> 
                        </span>
                        <span class="cols col2">                                 
                            <h6>שם</h6> 
                         </span>
                         <span class="cols col1">                                 
                            <h6>מס' פניה</h6> 
                        </span>                              
                    </li>
                    <li>
                            <span class="cols col8">                                 
                                    <h6></h6> 
                                </span>
                                <span class="cols col7">                                 
                                        <h6>025-5698-99</h6> 
                                    </span>
                            <span class="cols col6">                                 
                                <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>iu999754@gmail.com</h6> 
                            </span>
                            <span class="cols col4">                                 
                                <h6>8788651</h6>                               
                            </span>
                            <span class="cols col3">                                 
                                 <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col2">                                 
                                    <span class="m2">
                                           
                                            <span class="m2 t padded">צבי ברלנד</span>
                                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                        </span>
                             </span>
                             <span class="cols col1">                                 
                                 <h6>5765</h6>
                            </span>                              
                     </li>
                     <li>
                            <span class="cols col8">                                 
                                    <h6></h6> 
                                </span>
                                <span class="cols col7">                                 
                                        <h6>025-5698-99</h6> 
                                    </span>
                            <span class="cols col6">                                 
                                <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>iu999754@gmail.com</h6> 
                            </span>
                            <span class="cols col4">                                 
                                <h6>8788651</h6>                               
                            </span>
                            <span class="cols col3">                                 
                                 <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col2">                                 
                                    <span class="m2">
                                           
                                            <span class="m2 t padded">צבי ברלנד</span>
                                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                        </span>
                             </span>
                             <span class="cols col1">                                 
                                 <h6>5765</h6>
                            </span>                              
                     </li>
                     <li>
                            <span class="cols col8">                                 
                                    <h6></h6> 
                                </span>
                                <span class="cols col7">                                 
                                        <h6>025-5698-99</h6> 
                                    </span>
                            <span class="cols col6">                                 
                                <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>iu999754@gmail.com</h6> 
                            </span>
                            <span class="cols col4">                                 
                                <h6>8788651</h6>                               
                            </span>
                            <span class="cols col3">                                 
                                 <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col2">                                 
                                    <span class="m2">
                                           
                                            <span class="m2 t padded">צבי ברלנד</span>
                                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                        </span>
                             </span>
                             <span class="cols col1">                                 
                                 <h6>5765</h6>
                            </span>                              
                     </li>
                     <li>
                            <span class="cols col8">                                 
                                    <h6></h6> 
                                </span>
                                <span class="cols col7">                                 
                                        <h6>025-5698-99</h6> 
                                    </span>
                            <span class="cols col6">                                 
                                <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>iu999754@gmail.com</h6> 
                            </span>
                            <span class="cols col4">                                 
                                <h6>8788651</h6>                               
                            </span>
                            <span class="cols col3">                                 
                                 <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col2">                                 
                                    <span class="m2">
                                           
                                            <span class="m2 t padded">צבי ברלנד</span>
                                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                        </span>
                             </span>
                             <span class="cols col1">                                 
                                 <h6>5765</h6>
                            </span>                              
                     </li>
                     <li>
                            <span class="cols col8">                                 
                                    <h6></h6> 
                                </span>
                                <span class="cols col7">                                 
                                        <h6>025-5698-99</h6> 
                                    </span>
                            <span class="cols col6">                                 
                                <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>iu999754@gmail.com</h6> 
                            </span>
                            <span class="cols col4">                                 
                                <h6>8788651</h6>                               
                            </span>
                            <span class="cols col3">                                 
                                 <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col2">                                 
                                    <span class="m2">
                                           
                                            <span class="m2 t padded">צבי ברלנד</span>
                                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                        </span>
                             </span>
                             <span class="cols col1">                                 
                                 <h6>5765</h6>
                            </span>                              
                     </li>
                     <li>
                            <span class="cols col8">                                 
                                    <h6></h6> 
                                </span>
                                <span class="cols col7">                                 
                                        <h6>025-5698-99</h6> 
                                    </span>
                            <span class="cols col6">                                 
                                <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>iu999754@gmail.com</h6> 
                            </span>
                            <span class="cols col4">                                 
                                <h6>8788651</h6>                               
                            </span>
                            <span class="cols col3">                                 
                                 <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col2">                                 
                                    <span class="m2">
                                           
                                            <span class="m2 t padded">צבי ברלנד</span>
                                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                        </span>
                             </span>
                             <span class="cols col1">                                 
                                 <h6>5765</h6>
                            </span>                              
                     </li>
                     <li>
                            <span class="cols col8">                                 
                                    <h6></h6> 
                                </span>
                                <span class="cols col7">                                 
                                        <h6>025-5698-99</h6> 
                                    </span>
                            <span class="cols col6">                                 
                                <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>iu999754@gmail.com</h6> 
                            </span>
                            <span class="cols col4">                                 
                                <h6>8788651</h6>                               
                            </span>
                            <span class="cols col3">                                 
                                 <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col2">                                 
                                    <span class="m2">
                                           
                                            <span class="m2 t padded">צבי ברלנד</span>
                                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                        </span>
                             </span>
                             <span class="cols col1">                                 
                                 <h6>5765</h6>
                            </span>                              
                     </li>
                     <li>
                            <span class="cols col8">                                 
                                    <h6></h6> 
                                </span>
                                <span class="cols col7">                                 
                                        <h6>025-5698-99</h6> 
                                    </span>
                            <span class="cols col6">                                 
                                <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>iu999754@gmail.com</h6> 
                            </span>
                            <span class="cols col4">                                 
                                <h6>8788651</h6>                               
                            </span>
                            <span class="cols col3">                                 
                                 <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col2">                                 
                                    <span class="m2">
                                           
                                            <span class="m2 t padded">צבי ברלנד</span>
                                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                        </span>
                             </span>
                             <span class="cols col1">                                 
                                 <h6>5765</h6>
                            </span>                              
                     </li>
                    
                     
                    </ul>

        
        </div>
<div class="Chead">
        <div class="heading1" style="padding-right: 0px !important;">
                <h5 class="blueme"> לקוחות </h5>
            </div>
            <br/>
</div>
        <br/>
        
        <div class="tbl5">
                <ul>
                    <li>
                        <span class="cols col8">                                 
                            <h6>תמונה</h6> 
                        </span>
                        <span class="cols col7">                                 
                                <h6>טלפון</h6> 
                            </span>
                        <span class="cols col6">                                 
                            <h6>פניה</h6> 
                        </span>
                        <span class="cols col5">                                 
                            <h6>אימייל</h6> 
                        </span>
                        <span class="cols col4">  
                                <i class="material-icons" style="float: right !important">add</i>                                 
                            <h6>ת.ז</h6> 
                          
                        </span>
                        <span class="cols col3">
                                                           
                             <h6>משפחה</h6> 
                        </span>
                        <span class="cols col2">                                 
                            <h6>שם</h6> 
                         </span>
                         <span class="cols col1">                                 
                            <h6>מס' פניה</h6> 
                        </span>                              
                    </li>
                    <li>
                            <span class="cols col8">                                 
                                    <h6></h6> 
                                </span>
                                <span class="cols col7">                                 
                                        <h6>025-5698-99</h6> 
                                    </span>
                            <span class="cols col6">                                 
                                <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>iu999754@gmail.com</h6> 
                            </span>
                            <span class="cols col4">                                 
                                <h6>8788651</h6>                               
                            </span>
                            <span class="cols col3">                                 
                                 <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col2">                                 
                                    <span class="m2">
                                           
                                            <span class="m2 t padded">צבי ברלנד</span>
                                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                        </span>
                             </span>
                             <span class="cols col1">                                 
                                 <h6>5765</h6>
                            </span>                              
                     </li>
                     <li>
                            <span class="cols col8">                                 
                                    <h6></h6> 
                                </span>
                                <span class="cols col7">                                 
                                        <h6>025-5698-99</h6> 
                                    </span>
                            <span class="cols col6">                                 
                                <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>iu999754@gmail.com</h6> 
                            </span>
                            <span class="cols col4">                                 
                                <h6>8788651</h6>                               
                            </span>
                            <span class="cols col3">                                 
                                 <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col2">                                 
                                    <span class="m2">
                                           
                                            <span class="m2 t padded">צבי ברלנד</span>
                                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                        </span>
                             </span>
                             <span class="cols col1">                                 
                                 <h6>5765</h6>
                            </span>                              
                     </li>
                     <li>
                            <span class="cols col8">                                 
                                    <h6></h6> 
                                </span>
                                <span class="cols col7">                                 
                                        <h6>025-5698-99</h6> 
                                    </span>
                            <span class="cols col6">                                 
                                <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>iu999754@gmail.com</h6> 
                            </span>
                            <span class="cols col4">                                 
                                <h6>8788651</h6>                               
                            </span>
                            <span class="cols col3">                                 
                                 <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col2">                                 
                                    <span class="m2">
                                           
                                            <span class="m2 t padded">צבי ברלנד</span>
                                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                        </span>
                             </span>
                             <span class="cols col1">                                 
                                 <h6>5765</h6>
                            </span>                              
                     </li>
                     <li>
                            <span class="cols col8">                                 
                                    <h6></h6> 
                                </span>
                                <span class="cols col7">                                 
                                        <h6>025-5698-99</h6> 
                                    </span>
                            <span class="cols col6">                                 
                                <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>iu999754@gmail.com</h6> 
                            </span>
                            <span class="cols col4">                                 
                                <h6>8788651</h6>                               
                            </span>
                            <span class="cols col3">                                 
                                 <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col2">                                 
                                    <span class="m2">
                                           
                                            <span class="m2 t padded">צבי ברלנד</span>
                                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                        </span>
                             </span>
                             <span class="cols col1">                                 
                                 <h6>5765</h6>
                            </span>                              
                     </li>
                     <li>
                            <span class="cols col8">                                 
                                    <h6></h6> 
                                </span>
                                <span class="cols col7">                                 
                                        <h6>025-5698-99</h6> 
                                    </span>
                            <span class="cols col6">                                 
                                <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>iu999754@gmail.com</h6> 
                            </span>
                            <span class="cols col4">                                 
                                <h6>8788651</h6>                               
                            </span>
                            <span class="cols col3">                                 
                                 <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col2">                                 
                                    <span class="m2">
                                           
                                            <span class="m2 t padded">צבי ברלנד</span>
                                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                        </span>
                             </span>
                             <span class="cols col1">                                 
                                 <h6>5765</h6>
                            </span>                              
                     </li>
                     <li>
                            <span class="cols col8">                                 
                                    <h6></h6> 
                                </span>
                                <span class="cols col7">                                 
                                        <h6>025-5698-99</h6> 
                                    </span>
                            <span class="cols col6">                                 
                                <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>iu999754@gmail.com</h6> 
                            </span>
                            <span class="cols col4">                                 
                                <h6>8788651</h6>                               
                            </span>
                            <span class="cols col3">                                 
                                 <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col2">                                 
                                    <span class="m2">
                                           
                                            <span class="m2 t padded">צבי ברלנד</span>
                                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                        </span>
                             </span>
                             <span class="cols col1">                                 
                                 <h6>5765</h6>
                            </span>                              
                     </li>
                     <li>
                            <span class="cols col8">                                 
                                    <h6></h6> 
                                </span>
                                <span class="cols col7">                                 
                                        <h6>025-5698-99</h6> 
                                    </span>
                            <span class="cols col6">                                 
                                <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>iu999754@gmail.com</h6> 
                            </span>
                            <span class="cols col4">                                 
                                <h6>8788651</h6>                               
                            </span>
                            <span class="cols col3">                                 
                                 <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col2">                                 
                                    <span class="m2">
                                           
                                            <span class="m2 t padded">צבי ברלנד</span>
                                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                        </span>
                             </span>
                             <span class="cols col1">                                 
                                 <h6>5765</h6>
                            </span>                              
                     </li>
                     <li>
                            <span class="cols col8">                                 
                                    <h6></h6> 
                                </span>
                                <span class="cols col7">                                 
                                        <h6>025-5698-99</h6> 
                                    </span>
                            <span class="cols col6">                                 
                                <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col5">                                 
                                <h6>iu999754@gmail.com</h6> 
                            </span>
                            <span class="cols col4">                                 
                                <h6>8788651</h6>                               
                            </span>
                            <span class="cols col3">                                 
                                 <h6>ברלנד</h6> 
                            </span>
                            <span class="cols col2">                                 
                                    <span class="m2">
                                           
                                            <span class="m2 t padded">צבי ברלנד</span>
                                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                        </span>
                             </span>
                             <span class="cols col1">                                 
                                 <h6>5765</h6>
                            </span>                              
                     </li>
                    
                     
                    </ul>

         <!--   <table class="tbl2">
                <colgroup>
                    <col span="1" style="width: 30%;">
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 15%;">
                    
                 </colgroup>
                 
                <tr>
                  <th>edit</th>
                  <th>access </th>
                  <th>company</th>
                  <th>edit</th>
                  <th>access </th>
                  <th>company</th>
                  

                </tr>
                
                <tr>
                    <td>
                      <span style="margin: 2px">986868</span>
                     </td>
                    <td>
                       <span style="margin: 2px">986868</span>
                    </td>
                    <td>
                        <span style="margin: 2px">
                            <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                        </span>
                    </td>
                    <td>
                            <span style="margin: 2px">emaildjc sdsd</span>
                    </td>    
                    <td>
                        <span style="margin: 2px">986868</span>
                    </td>
                    <td>
                        <i class="material-icons">edit</i>
                        <span style="margin: 2px">
                               
                            <span style="margin: 2px">kj bkj</span>
                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                        </span>
                    </td>
                </tr>
               
          </table>-->
          <div class="wi" >
              <span>&nbsp;2342</span> 
              <span>&nbsp;2342</span> 
              <span>&nbsp;2342</span> 
              <span>&nbsp;2342</span> 
              <i class="material-icons " style="float: right">add</i>
        </div>
        </div>
        
</div>	

