
      <div class="Chead0">
        <div class="hleft">
            
                        <button class="primary-btn">save</button>
                        
                    
                            <button class="clear-btn">cancel</button>
                    
        </div>
        
        <div class="heading1">
                    <h5>נהל סוגי דוחות</h5>
                    
               
        </div>
        
</div>

<div class="contentinner">
<div class="tabs">
    <ul>
       
            <a routerLink="/list-of-reports" routerLinkActive="active">
                <li >רשימת סוגים</li>
               

            </a>  
            <a routerLink="/manage-account" id="" routerLinkActive="active">
                <li>  הגדר תבנית </li>
               

            </a> 
          
          
            <a routerLink="/manage-report-types" routerLinkActive="active">
                <li>הגדר דוח </li>
               

            </a> 
          
        </ul>
    </div>

<div class="Chead3 " style="margin-bottom: 0px;  padding-bottom: 1.5%;">
    <div class="hright2">
            
  
        <form style="justify-items: last baseline">
            
           
            <label>ימים לסיום</label>
            <input class="input2" type="date" placeholder="days to finish">
            <label>קטגוריות</label>
            <input class="input2" type="text" placeholder="categories">
            <label>שם הגדרה</label>
            <input class="input2" type="text" placeholder="define name">
        </form>
        
        
    
  </div>
  
    <div class="hright2"> 
            <br/>
            <br/>
            <h6 style="float: right; font-size: 12px ;">Category name 1</h6>
    </div>
</div>
<div class="Chead3" style="     padding-bottom: 1.5%;">

    <div class="hright2">
            
  
        <form style="justify-items: last baseline">
            <small>add field</small>
            <input class="input2" type="text" placeholder="שם קטגוריה 1">
            <input class="input2" type="text" placeholder="בחר עמודה ">
        </form>
        
        
    
  </div> 
              
</div>

</div>	

