<div class="bar">
        <button class="btn-close" [mat-dialog-close]="true"> <span><i class="material-icons" style="color: #000000 !important;">close</i></span></button>
        <span class="title">
        <p>שייך לקוח
            </p>
    </span>
</div>
<div class="main-content">
    <div class="heading">
            <div class="hleft0 right">
                    <input class="input-search" type="text" placeholder="חיפוש חשבון">
            </div>
      <br/>
    </div>
    <div class="content">
     <br />
        <div class="tbl5">
                <ul>
               
                    <li>
                        
                        <span class="cols col7">
                            <h6>025-5698-99</h6>
                        </span>
                        <span class="cols col6">
                            <h6>ברלנד</h6>
                        </span>
                        <span class="cols col5">
                            <h6>iu999754@gmail.com</h6>
                        </span>
                        <span class="cols col4">
                            <h6>8788651</h6>
                        </span>
                        <span class="cols col3">
                            <h6>ברלנד</h6>
                        </span>
                        <span class="cols col2">
                            <span class="m2">

                                <span class="m2 t padded">צבי ברלנד</span>
                                <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px"
                                    height="30px">
                            </span>
                        </span>
                        <span class="cols col1">
                            <h6>5765</h6>
                        </span>
                        <span class="cols col0">
                                <input type="checkbox" >
                            </span>
                    </li>
                    <li>
                           
                            <span class="cols col7">
                                <h6>025-5698-99</h6>
                            </span>
                            <span class="cols col6">
                                <h6>ברלנד</h6>
                            </span>
                            <span class="cols col5">
                                <h6>iu999754@gmail.com</h6>
                            </span>
                            <span class="cols col4">
                                <h6>8788651</h6>
                            </span>
                            <span class="cols col3">
                                <h6>ברלנד</h6>
                            </span>
                            <span class="cols col2">
                                <span class="m2">
    
                                    <span class="m2 t padded">צבי ברלנד</span>
                                    <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px"
                                        height="30px">
                                </span>
                            </span>
                            <span class="cols col1">
                                <h6>5765</h6>
                            </span>
                            <span class="cols col0">
                                    <input type="checkbox" >
                                </span>
                        </li>
                        <li>
                                
                                <span class="cols col7">
                                    <h6>025-5698-99</h6>
                                </span>
                                <span class="cols col6">
                                    <h6>ברלנד</h6>
                                </span>
                                <span class="cols col5">
                                    <h6>iu999754@gmail.com</h6>
                                </span>
                                <span class="cols col4">
                                    <h6>8788651</h6>
                                </span>
                                <span class="cols col3">
                                    <h6>ברלנד</h6>
                                </span>
                                <span class="cols col2">
                                    <span class="m2">
        
                                        <span class="m2 t padded">צבי ברלנד</span>
                                        <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px"
                                            height="30px">
                                    </span>
                                </span>
                                <span class="cols col1">
                                    <h6>5765</h6>
                                </span>
                                <span class="cols col0">
                                        <input type="checkbox" >
                                    </span>
                            </li>
                            <li>
                                   
                                    <span class="cols col7">
                                        <h6>025-5698-99</h6>
                                    </span>
                                    <span class="cols col6">
                                        <h6>ברלנד</h6>
                                    </span>
                                    <span class="cols col5">
                                        <h6>iu999754@gmail.com</h6>
                                    </span>
                                    <span class="cols col4">
                                        <h6>8788651</h6>
                                    </span>
                                    <span class="cols col3">
                                        <h6>ברלנד</h6>
                                    </span>
                                    <span class="cols col2">
                                        <span class="m2">
            
                                            <span class="m2 t padded">צבי ברלנד</span>
                                            <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px"
                                                height="30px">
                                        </span>
                                    </span>
                                    <span class="cols col1">
                                        <h6>5765</h6>
                                    </span>
                                    <span class="cols col0">
                                            <input type="checkbox" >
                                        </span>
                                </li>

                </ul>

            </div>

    </div>
    <div class="footer">
        <button class="btn2" style="float: right;">צור</button>
    </div>
</div>