<div class="Chead">
    <div class="hleft">

        <button class="primary-btn">save</button>


        <button class="clear-btn">cancel</button>

    </div>

    <div class="heading1">
        <h5>סוג חשבון חדש</h5>
    </div>

</div>

<div class="contentinner">
    <div class="tabs">
        <ul>

            <a routerLink="/products" routerLinkActive="active">
                <li>חשבונות</li>


            </a>
            <a routerLink="/manage-account" routerLinkActive="active">
                <li> יומן שיחו</li>


            </a>

            <li>יומן שיחו</li>
            <a routerLink="/inquiries" routerLinkActive="active">
                <li> פניות </li>


            </a>
            <a routerLink="/payments" routerLinkActive="active">
                <li> תשלומים </li>


            </a>


            <a routerLink="/accounts/account-details" routerLinkActive="active">
                <li>פרטי חשבון</li>


            </a>
        </ul>



    </div>
    <br />

    <div class="Chead3 " style="padding: 1.5%; margin-bottom: 5px; border: 2px solid #e7e8eb">
        <div class="hright2">


            <form style="justify-items: last baseline">
                <div class="box1">
                    <label>סיסמה</label>
                    <input class="input2" type="password" placeholder="password">
                </div>
                <div class="box1">
                    <label>אימייל</label>
                    <input class="input2" type="email" placeholder="email">
                </div>
                <div class="box1">
                    <label>טלפון</label>
                <input class="input2" type="number" placeholder="phone">
                </div>
                <div class="box1">
                    <label>ח.פ/ת.ז</label>
                    <input class="input2" type="text" placeholder="hf/tz">
                </div>
                <div class="box1">
                   
                <label>שם חברה</label>
                <input class="input2" type="text" placeholder="campany name">
                </div>
                <div class="box1">
                    <label>סוג חשבון</label>
                <input class="input2" type="text" placeholder="kind of bill">
                </div>
                <input class="input2" type="text" placeholder="חשבון מקביל">
                
                
                
               
                <div class="box1">
                    <label>סוג חשבון</label>
                <input class="input2" type="text" placeholder="kind of bill">
                </div>
                
            </form>
            <br />
            <br />
            <label>שם סוג חשבון</label>
            <textarea id="subject" name="subject" placeholder="Write something.."></textarea>

        </div>

    </div>
    <div class="Chead3" style="padding: 1.5%; border: 2px solid #e7e8eb">

        <div class=" hright2 sel">



        </div>

        <div class="hright2">
            <h6 style="float: right; font-size: 12px ; ">איש קשר 1</h6>
        </div>
        <br />
        <div class="hright2" style="border-bottom:1px solid #e7e8eb;"></div>

        <div class=" hright2 sel">

            <label>סטטוס</label>
            <input type="text" placeholder="status">
            <label>Email</label>
            <input type="text" placeholder="Email">
            <label>FON</label>
            <input type="text" placeholder="FON">
            <label>משפחה</label>
            <input type="text" placeholder="family">
            <label>שם</label>
            <input type="text" placeholder="name">


        </div>
        <br />
        <br />

        <div class=" hright2 sel">



        </div>

        <div class="hright2">
            <h6 style="float: right; font-size: 12px ; ">איש קשר 2</h6>
        </div>
        <br />
        <div class="hright2" style="border-bottom:1px solid #e7e8eb;"></div>

        <div class=" hright2 sel">
            <label>סטטוס</label>
            <input type="text" placeholder="status">
            <label>Email</label>
            <input type="text" placeholder="Email">
            <label>FON</label>
            <input type="text" placeholder="FON">
            <label>משפחה</label>
            <input type="text" placeholder="family">
            <label>שם</label>
            <input type="text" placeholder="name">


        </div>
        <div class="hright2">
            <h6 style="float: right; font-size: 12px ; ">הוסף איש קשר</h6>
        </div>
    </div>


    <div class="Chead3" style="    padding-bottom: 1.5%;">


        <div class="hright2">
            <h6 style="float: right; font-size: 12px ;">הגדרות חשבון</h6>
        </div>

    </div>
    <div class="Chead3" style="    padding-bottom: 1.5%;">

        <div class=" hright2 sel">
            <label>תמונה ראשית</label>
            <input type="text" placeholder="first picture">
            <label>מודולים</label>
            <input type="text" placeholder="modules">



        </div>
        <div class=" hright2 sel" style="margin-bottom : 20px;">

            <small>נהל מודולים

                &nbsp; ( 4 מודולים | 3 שינויי שם) </small>



        </div>
        <div class="hright2">
            <h6 style="float: right; font-size: 12px ; ">מנוי</h6>
        </div>

    </div>
    <div class="Chead3" style="    padding-bottom: 1.5%;">

        <div class=" hright2 sel">
            <input type="text" placeholder="Specify Cost">
            <label>לפי שקל</label>
            <input type="text" placeholder="by NIC">
            <label>לפי חודש</label>
            <input type="text" placeholder="by month">
            <label>בתשלום</label>
            <input type="text" placeholder="payment">



        </div>

        <div class="hright2">
            <h6 style="float: right; font-size: 12px ; ">אמצעי תשלום</h6>
        </div>

    </div>
    <div class="Chead3" style="    padding-bottom: 1.5%;">

        <div class=" hright2 sel">

            <label>ת.ז/ח.פ</label>
            <input type="text" placeholder="by NIC">
            <label>משפחה</label>
            <input type="text" placeholder="family">
            <label>שם </label>
            <input type="text" placeholder="name">



        </div>
        <br />
        <br />

        <div class=" hright2 sel">

            <label>3 ספרות</label>
            <input type="text" placeholder="3 digits">
            <label>תוקף</label>
            <input type="text" placeholder="validity">
            <label>מס' כרטיס</label>
            <input type="text" placeholder="card number">



        </div>

        <div class="hright2">

        </div>







    </div>
    <div class="Chead3" style="    padding-bottom: 1.5%;">

        <div class=" hright2 sel">

            <label>קשר דאטות</label>
            <input type="text" placeholder="data connection">



        </div>

        <br />

        <div class=" hright2 sel">

            <label>3 ספרות</label>
            <input type="text" placeholder="3 digits">
            <label>תוקף</label>
            <input type="text" placeholder="validity">
            <label>מס' כרטיס</label>
            <input type="text" placeholder="card number">



        </div>
        <br />
        <div class=" hright2 sel" style="margin-bottom : 20px; border: 2px solid #e7e8eb;">

            <small>נהל מודולים

                &nbsp; ( 4 מודולים | 3 שינויי שם) </small>



        </div>







    </div>