<div class="Chead">
    <div class="hleft">
        <button class="primary-btn">save</button>
        <button class="clear-btn">cancel</button>
    </div>
    <div class="heading1">
        <h5>new user</h5>
    </div>
    
</div>

<div class="content-inner">
        <div class="Chead3 " style="margin-bottom: 0px;  padding-bottom: 0px;">
            <div class="hright2">
                    
          
                <form style="justify-items: last baseline">
                    <label>profile-image</label>
                    <input class="input2" type="text" placeholder="">  
                    <label>comapny</label>
                    <input class="input2" type="text" placeholder="email@company.com">
                    <label>password</label>
                    <input class="input2" type="password" placeholder="">						
                    <label>email</label>
                    <input class="input2" type="email" placeholder="">
                    <label>name</label>
                    <input class="input2" type="text" placeholder="">
                </form>
                Access
          </div>
             
     </div>
        <div class="Chead3" style="border: none; margin-bottom: 10px">
        
                <div class=" hright2 sel">
                        <label>select companies</label>
                        <input type="number" min="1" max="5">

                        
                </div>                    
        </div>
        <div>
            <table class="tbl2">
                <colgroup>
                    <col span="1" style="width: 70%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 15%;">
                 </colgroup>
                 
                <tr>
                  <th>edit</th>
                  <th>access </th>
                  <th>company</th>
                </tr>
                
                <tr>
                    <td>
                        <i class="material-icons">edit</i>
                    </td>
                    <td>
                        <div class="" style="width:100%">
                            <select style="width: 100%">
                                <option value="0">Select permissions</option>
                                <option value="1">Audi</option>
                                <option value="2">BMW</option>
                                <option value="3">Citroen</option>									  
                             </select>
                        </div>
                    </td>
                    <td>
                        <span style="margin: 2px">
                            <span style="margin: 2px">kj bkj</span>
                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                        </span>
                    </td>
                </tr>
                <tr>
                        <td>
                            <i class="material-icons">edit</i>
                        </td>
                        <td>
                            <div class="" style="width:100%">
                                <select style="width: 100%">
                                    <option value="0">Select permissions</option>
                                    <option value="1">Audi</option>
                                    <option value="2">BMW</option>
                                    <option value="3">Citroen</option>									  
                                 </select>
                            </div>
                        </td>
                        <td>
                            <span style="margin: 2px">
                                <span style="margin: 2px">kj bkj</span>
                                 <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                            </span>
                        </td>
                    </tr>
          </table>
        </div>
        
</div>	

