
 
  
    <div class="Chead0">
        <div class="hleft">
            
                        <button class="primary-btn">save</button>
                        
                    
                            <button class="clear-btn">cancel</button>
                    
        </div>
        
        <div class="heading1">
                    <h5>Zwi Berland</h5>
                    <img  src="../../../assets/img/z.png" />
               
        </div>
        
    </div>

<div class="contentinner">
<div class="tabs">
    <ul>
       
            <a routerLink="/products" routerLinkActive="active">
                <li >  מוצרים</li>
               

            </a>  
            <a routerLink="/email" routerLinkActive="active">
                <li> אימייל  </li>
               

            </a> 
          
          
            <a routerLink="/sms" routerLinkActive="active">
                <li>  סמס   </li>
               

            </a> 
            <a routerLink="/call-log" routerLinkActive="active">
                    <li> יומן שיחות  </li>
            </a> 
           
          
            <a routerLink="/inquiries" routerLinkActive="active">
                     <li>     פניות </li> 
           </a> 
            <a routerLink="/account-details" routerLinkActive="active">
                    <li > הזמנות    
                    </li> 
            </a> 
            <a class="active">
                    <li >פרטי לקוח   </li>
            </a> 
        </ul>
    </div>

<div class="Chead3 " style="margin-bottom: 0px;  padding-bottom: 1.5%;">
    <div class="hright2">
            
  
        <form style="justify-items: last baseline">
            
             <span>Add Field</span>
            <label>Phone</label>
            <input class="input2" type="text" placeholder="">
            <label>Email</label>
            <input class="input2" type="email" placeholder="e">
            <label>family</label>
            <input class="input2" type="text" placeholder="ae">
            <label>Name</label>
            <input class="input2" type="text" placeholder="acc type name">
        </form>
         <br/>
         <br/>
        <label>סוג לקוח</label>
        <select width="30%">
                <option>client type</option>
        </select>
    
  </div>

    <br/>
    <div class="hright2"> 	
        <h6 style="float: right; font-size: 12px ;">Type 1</h6>
    </div>
</div>
<div class="Chead3" style="    padding-bottom: 1%;">
                    
    <div class=" hright2 sel">
            <span>add field</span>
            <label>סטטוס</label>
            <select width="30%">
                    <option>client type</option>
            </select>
           
            <label>4</label>
            <input type="text" placeholder="iesh">
            <label>3</label>
            <input type="text" placeholder="iesh">
            <label>2</label>
            <input type="text" placeholder="iesh">
            <label>1</label>
            <input type="text" placeholder="iesh">
           
   

            
    </div>    
               
</div>
<div class="Chead3" style="    padding-bottom: 1.5%;">
    <div class="hright2"> 	
                            <h6 style="float: right; font-size: 12px ;">Inquiries(1)</h6>
                            <br/>
                            <small>Add</small>
   </div>
             <br/>
     <div class="tbl5">
         <ul>
                                    
                                    <li>
                                            <span class="cols col8">                                 
                                                    <h6></h6> 
                                                </span>
                                                <span class="cols col7">                                 
                                                        <h6>025-5698-99</h6> 
                                                    </span>
                                            <span class="cols col6">                                 
                                                <h6>ברלנד</h6> 
                                            </span>
                                            <span class="cols col5">                                 
                                                <h6>iu999754@gmail.com</h6> 
                                            </span>
                                            <span class="cols col4">                                 
                                                <h6>8788651</h6>                               
                                            </span>
                                            <span class="cols col3">                                 
                                                 <h6>ברלנד</h6> 
                                            </span>
                                            <span class="cols col2">                                 
                                                    <span class="m2">
                                                           
                                                            <span class="m2 t padded">צבי ברלנד</span>
                                                             <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                                        </span>
                                             </span>
                                             <span class="cols col1">                                 
                                                 <h6>5765</h6>
                                            </span>                              
                                     </li>
                                     <li>
                                        <span class="cols col8">                                 
                                                <h6></h6> 
                                            </span>
                                            <span class="cols col7">                                 
                                                    <h6>025-5698-99</h6> 
                                                </span>
                                        <span class="cols col6">                                 
                                            <h6>ברלנד</h6> 
                                        </span>
                                        <span class="cols col5">                                 
                                            <h6>iu999754@gmail.com</h6> 
                                        </span>
                                        <span class="cols col4">                                 
                                            <h6>8788651</h6>                               
                                        </span>
                                        <span class="cols col3">                                 
                                             <h6>ברלנד</h6> 
                                        </span>
                                        <span class="cols col2">                                 
                                                <span class="m2">
                                                       
                                                        <span class="m2 t padded">צבי ברלנד</span>
                                                         <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                                    </span>
                                         </span>
                                         <span class="cols col1">                                 
                                             <h6>5765</h6>
                                        </span>                              
                                 </li>
                                 <li>
                                    <span class="cols col8">                                 
                                            <h6></h6> 
                                        </span>
                                        <span class="cols col7">                                 
                                                <h6>025-5698-99</h6> 
                                            </span>
                                    <span class="cols col6">                                 
                                        <h6>ברלנד</h6> 
                                    </span>
                                    <span class="cols col5">                                 
                                        <h6>iu999754@gmail.com</h6> 
                                    </span>
                                    <span class="cols col4">                                 
                                        <h6>8788651</h6>                               
                                    </span>
                                    <span class="cols col3">                                 
                                         <h6>ברלנד</h6> 
                                    </span>
                                    <span class="cols col2">                                 
                                            <span class="m2">
                                                   
                                                    <span class="m2 t padded">צבי ברלנד</span>
                                                     <img class="img2 profile-image" src="../../../assets/img/1.png" width="30px" height="30px">
                                                </span>
                                     </span>
                                     <span class="cols col1">                                 
                                         <h6>5765</h6>
                                    </span>                              
                             </li>
          </ul>
     </div>
     <div class="hright2"> 	
        <h6 style="float: right; font-size: 12px ;">דוח מוצרים ללקוח   (יפוג בתאריך 08.10.2019)</h6>
        <br/>
        <button class="btn1">Add service</button>
    </div>
    <div class="hright2"> 	
        <h6 style="float: right; font-size: 12px ;">Clients compatible 1</h6>
    </div>
    <br/>
    <div class="hright2"> 	
        <h6 style="float: right; font-size: 12px ;">Inquiries compatible (1)</h6>
    </div>
    <br/>
    <br/>
    <br/>
</div>


      
